<script src="/index.js"></script>

<link rel="stylesheet"
  type="text/css"
  href="/style.css" />

<div class="container">
  <%- main %>
</div>

<script>
  React.render(
    window.Index(),
    document.getElementsByClassName('container')[0]
  );
</script>
