<script src="/index.js"></script>

<link rel="stylesheet"
  type="text/css"
  href="/style.css" />

<div class="container">
  <%- main %>
</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.4.js"></script>

<script>
  var el = React.createElement(window.Index, {
    s3Credentials: <%- s3Credentials %>
  });

  React.render(
    el,
    document.getElementsByClassName('container')[0]
  );
</script>
