/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

#global-header {
  height: 72px;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: #fff;
  margin-bottom: 20px;
  box-sizing: border-box;
}
#logo-container, #logo-container:hover,
#logo-container:focus, #logo-container:active {
  text-decoration: none;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
#logo {
  width: 65px;
  height: 65px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  float: left;
  color: #333;
  margin-top: -2px;
}
.logo-part {
  height: 20%;
  font-size: 100%;
}
#logo-text {
  margin-left: 20px;
  height: 72px;
  display: inline-block;
  float: left;
  color: #262626;
  font-size: 32px;
  line-height: 72px;
}
#nav-links {
  height: 100%;
  float: right;
  font-size: 13px;
  box-sizing: border-box;
  margin-right: 2px;
}
.nav-link:hover {
  opacity: .8;
}
.nav-link {
  padding-right: 8px;
}
.nav-link a {
  border-right: 2px solid transparent;
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  padding-right: 8px;
}
.nav-link a:hover {
  border-color: #333;
}
.center {
  width: 980px;
  margin: 0 auto;
}
#global-footer {
  clear: both;
  margin-top: 40px;
}