<!DOCTYPE html>
<html ng-app="cryptogem" ng-controller="MainController" ng-cloak>
<head>
  <base href="/">
  <title>Cryptogem · Encrypt something, or don't.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="global-header" class="center">
    <a id="logo-container" href="/">
      <div id="logo">
        <pre class="logo-part">____</pre>
        <pre class="logo-part">/\__/\</pre>
        <pre class="logo-part">/_/  \_\</pre>
        <pre class="logo-part">\ \__/ /</pre>
        <pre class="logo-part">\/__\/</pre>
      </div>
      <div id="logo-text"><b>Crypto</b>Gem</div>
    </a>

    <ul id="nav-links">
      <li class="nav-link"><a href="/#/about">about</a></li>
      <li class="nav-link"><a href="https://github.com/joshua-robinson/cryptogem">github</a></li>
      <li class="nav-link"><a href="/#/faq">faq</a></li>
    <ul>
  </nav>

  <div ng-view></div>

  <footer id="global-footer" class="center">
    <hr />
    <pre>$location.path() = {{$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{$route.current.params}}</pre>
    <pre>$route.current.params = {{$route.current.params}}</pre>
    <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
    <pre>$routeParams = {{$routeParams}}</pre>
  </footer>
</body>
</html>
